---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ProjectList from "@components/ProjectList.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";

const featuredProjects = await getCollection("project", ({ data }) => data.featured);
const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="flex-row sm:flex items-center">
        <div>
          <img src="./src/assets/images/julien_pause.png" width="75%" class="border-2 border-white rounded-full" alt="Julien Pause">
        </div>
        <p class="text-center text-lg">
          👋 Hi! I'm Julien Pause
          <br />
          <br />
          I'm a React (& React Native) software engineer from Reunion Island 🇷🇪, based in Paris, France 🇫🇷.
        </p>
      </div>
      <p class="mt-8 font-bold">
        Currently a 5th year student at Epitech, I'm looking for an end-of-studies internship, CDD, or CDI starting as early as February 2024 in Paris.
      </p>
      <div class="all-posts-btn-wrapper">
        <LinkButton
          className="text-xl my-4"
          href="mailto:julien.pause@epitech.eu"
        >
          Contact me now
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>

    <Hr />

    <section id="featured">
      <h2>Selected projects</h2>
      <p class="my-4">
        These are some of my recent projects in React & React Native.
      </p>
      <ProjectList projects={featuredProjects} />
      <div class="all-posts-btn-wrapper">
        <LinkButton className="mt-4" href="/projects">
          All projects
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>

    <Hr />

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .map(
              ({ data }, index) =>
                index < 4 && (
                  <Card
                    href={`/blog/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/blog">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }


  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply py-8;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-3xl font-semibold tracking-wide mb-6;
  }
  .all-posts-btn-wrapper {
    @apply my-4 text-center;
  }
</style>
