---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
const slug = project.slug;
const { title, thumbnail } = project.data;
---

<li class="aspect-square">
  <a href={`/projects/${slug}`}>
    <Image
      src={thumbnail}
      alt={title}
      class="h-full w-full border-2 border-skin-accent object-cover"
    />
  </a>
</li>
