---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ProjectList from "@components/ProjectList.astro"
import LinkButton from "@components/LinkButton.astro";
import type { CollectionEntry } from "astro:content";
import socialIcons from "@assets/socialIcons";

export interface Props {
  projects: CollectionEntry<"project">[];
}

const { projects } = Astro.props;
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects">
    <p class="mb-6">
      Here is a collection of almost all the projects I have ever done.
      <br />
       They each feature a video, description, aswell as a link to the source
      code.
      <br />
      <br />
       Some projects I couldn't find a way to represent graphically, such as a
      recreation of an FTP server, a Unix Shell, or the printf function.
      <br />
       You can find these projects on my
      <LinkButton href={"https://github.com/julienp17?tab=repositories"} className="underline">
        GitHub profile<Fragment set:html={socialIcons["Github"]} />
      </LinkButton>
    </p>
    <ProjectList projects={projects} />
  </Main>
  <Footer />
</Layout>
